/* Estilos para el formulario de registro */
body{
    background-color: #e5e5f7;
    /*opacity: 0.8;*/
    background-image: radial-gradient(circle at center center,#086972 ,#A7FF83), repeating-radial-gradient(circle at center center, #17B978, #17B978, 10px, transparent 20px, transparent 10px);
    /*background-blend-mode: multiply;*/
    
    }
    .card-body {
        background-color: #e0ffd4;    
        opacity: 100%;
        margin-top: 25%;
    }
    
    .form-signin {
        max-width: 400px; /* Ajusta el ancho del formulario según tus necesidades */
        margin: auto;
        text-align: center;
        padding: 20px;
    }
    
    .form-signin img {
        width: 85px; /* Cambia el ancho de la imagen según tus necesidades */
        margin-bottom: 1rem;
    }
    
    .form-floating input[type="email"],
    .form-floating input[type="password"] {
        width: 100%;
        padding: 0.5rem;
        margin-top: 1rem;
    }
    
    .form-check {
        text-align: left;
        margin-top: 1rem;
    }
    
    .btn-primary {
        background-color:   #17B978; /* Color de fondo del botón */
        border-color: #17B978; /* Color del borde del botón */
        font-weight: 600;
        margin-top: 5px;
    }
    .btn-primary:hover {
        background-color:   #00663d; /* Cambia el color de fondo al pasar el ratón */
        border-color:   #00663d; /* Cambia el color del borde al pasar el ratón */
    }
    #cancelar-button {
        background-color: black; 
        color: white; 
        border-color: black;
        margin-top: 5px;
    }
    footer {
        position: fixed; 
        left: 0;
        bottom: 0; 
        width: 100%; 
        background-color: #fff; 
        text-align: center; 
        padding: 10px;
    }