.card-text{
    color: black;
}
body {
    background-image: "C:\Users\Diego\Pictures\Saved Pictures\F5B9b8YaoAA6b1u.jpg";
    background-size: cover; /* Para que la imagen se ajuste al tamaño de la ventana del navegador */
    background-repeat: no-repeat; /* Para que la imagen no se repita */
}
