
 .VotacionesSTYLE
  {
    padding-top: 100px;
    background: #a7ff83;
    background: linear-gradient(0deg, #9a30b4  0%, #55ffdab4 50%,#a7ff83 100%);
  }
.Eligecaerte{
    color: black;
    background-color: #ffffff;
    padding: 15pt;
    font-style:normal;
}
.VotationSlide img
{
    text-align: center;
    max-height: 100%;
    width: auto;
    overflow: hidden;
}
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  .gradiente
  {
    background: radial-gradient(#43463eb7, #ffffff00);
  }
  .titulo
  {
    display: grid;
    place-items: center;
  }

  .btn-primary {
    background-color:   black;
    border-color:   black;
}

.btn-primary:hover {
    background-color:   #17B978; 
    border-color:   #17B978; 
}



  
  /*acordeon*/


  .accordion {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 50%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #dedede;
    border-radius: 8px;
    margin:0 auto;
  }
  /*Contenedor común plegar/desplegar*/
  .accordion-toggle,
  .accordion-header{
    font-size: 15px;
    width: 100%;
    height: 3em;
    margin: 0;
    line-height: 3em;
    cursor: pointer;
  }
  /*El botón que pliega/despliega*/
  .accordion-toggle {
    opacity: 0;
    background-color: transparent;
    z-index: 1;
    margin-bottom: 2px;
  }
  /*Bloque para el título*/
  .accordion-header{
    background-color: #ffffff;
    color: #000000;
    position: relative;
    margin-top: -3em;
    padding-left: 10px
  }
  
  /*Bloque replegable con el contenido */
  .accordion-content {
    box-sizing: border-box;
    background-color: #f7f7f7;
    color: #4f5252;
    overflow: auto;
    position: relative;
    width: 100%;
    height: 250px;
    margin-bottom: -250px;
    padding: 20px;
    transition: margin 0.3s ease 0.1s;
    }
  .accordion-toggle:checked + .accordion-header + .accordion-content {
    margin-bottom: 0;
    margin-right: 0;
  }
  .accordion-header::before,
  .accordion-toggle:checked + .accordion-header::before {

    display: inline-block;
    text-align: center;
    width: 1em;
    font-size: 1.em;
  }

  
  .accordion-toggle:hover + .accordion-header{
    background-color: #8fff79;
  }
  .accordion-toggle:checked + .accordion-header {
    background-color: #32ee2c;
  }
  