.Eligecaerte{
    color: black;
    background-color: aquamarine;
    padding: 15pt;
    font-style:normal;
}
.tablee{
    border-color: brown;
    width: 1024px; height: 512px;
    background-color: aqua;
    
}
.cardd{
    margin: auto;
    width: 50%;
    padding: 10px;
    background-color: red;
    
}
.VotationSlide img
{
    text-align: center;
    max-height: 100%;
    width: auto;
    overflow: hidden;
}
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  .gradiente
  {
    background: radial-gradient(#43463eb7, #ffffff00);
  }
  .titulo
  {
    display: grid;
    place-items: center;
  }