.Eligecaerte{
    color: black;
    background-color: aquamarine;
    padding: 15pt;
    font-style:normal;
}
.tablee{
    border-color: brown;
    width: 1024px; height: 512px;
    background-color: aqua;
    
}
.cardd{
    margin: auto;
    width: 50%;
    padding: 10px;
    background-color: red;
    
}