.navbar-brand {
  display: flex;
  height: 60px;
  min-height: 30px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-left: 100px;
}
.nav-item {
  padding: 3px;
}
.logo-imagen {
  height: 60px;
  align-items: center;
  margin-right: 10px;
}

#btn-navbar {
  margin-right: 100px;
}

body {
  display: flex;
  flex-direction: column;
}
.page-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #339982;
  opacity: 0.7;
  background-image: radial-gradient(#a7ff83 0.35000000000000003px, #339982 0.35000000000000003px);
  background-size: 7px 7px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

} 
.card-principal {
  max-width: 1100px;
  margin: auto; 
  margin-top: 10%;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  display:grid;
  color: black;
} 

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
.card-text {
  padding-bottom: 20px;
  padding-top: 10px;
}

.btn-primary {
  background-color:   black; 
  border-color:   black;
}

.btn-primary:hover {
  background-color:   #17B978; 
  border-color:   #17B978; 
}

.col-md-4 {
  padding-bottom: 20px; /* Ajusta el valor según tu preferencia */
  padding-right: 20px; /* Espacio adicional a la derecha del borde */
}
#img-fluid {
  height: 100%;
  width: auto;
}
